<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.lagosguide">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.android.lagosguide.ArtActivity"
            android:label="@string/category_galleries"
            android:parentActivityName="com.example.android.lagosguide.MainActivity"
            />
        <activity
            android:name="com.example.android.lagosguide.HotelActivity"
            android:label="@string/category_hotels"
            android:parentActivityName="com.example.android.lagosguide.MainActivity"
            />
        <activity
            android:name="com.example.android.lagosguide.RestaurantActivity"
            android:label="@string/category_restaurants"
            android:parentActivityName="com.example.android.lagosguide.MainActivity"
            />
        <activity
            android:name="com.example.android.lagosguide.MonumentActivity"
            android:label="@string/category_monuments"
            android:parentActivityName="com.example.android.lagosguide.MainActivity"
            />
        <activity android:name="com.example.android.lagosguide.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>